[submodule "modules/git_deploy"]
	path = modules/git_deploy
	url = http://git.drupal.org/project/git_deploy.git
[submodule "modules/entity"]
	path = modules/entity
	url = http://git.drupal.org/project/entity.git
[submodule "modules/pathauto"]
	path = modules/pathauto
	url = http://git.drupal.org/project/pathauto.git
[submodule "modules/globalredirect"]
	path = modules/globalredirect
	url = http://git.drupal.org/project/globalredirect.git
[submodule "modules/transliteration"]
	path = modules/transliteration
	url = http://git.drupal.org/project/transliteration.git
[submodule "modules/token"]
	path = modules/token
	url = http://git.drupal.org/project/token.git
[submodule "modules/ctools"]
	path = modules/ctools
	url = http://git.drupal.org/project/ctools.git
[submodule "modules/views"]
	path = modules/views
	url = http://git.drupal.org/project/views.git
[submodule "modules/views_bulk_operations"]
	path = modules/views_bulk_operations
	url = http://git.drupal.org/project/views_bulk_operations.git
[submodule "modules/devel"]
	path = modules/devel
	url = http://git.drupal.org/project/devel.git
[submodule "modules/wysiwyg"]
	path = modules/wysiwyg
	url = http://git.drupal.org/project/wysiwyg.git
[submodule "modules/rules"]
	path = modules/rules
	url = http://git.drupal.org/project/rules.git
[submodule "modules/mollom"]
	path = modules/mollom
	url = http://git.drupal.org/project/mollom.git
[submodule "modules/google_analytics"]
	path = modules/google_analytics
	url = http://git.drupal.org/project/google_analytics.git
[submodule "modules/webform"]
	path = modules/webform
	url = http://git.drupal.org/project/webform.git
[submodule "modules/services"]
	path = modules/services
	url = http://git.drupal.org/project/services.git
[submodule "modules/acl"]
	path = modules/acl
	url = http://git.drupal.org/project/acl.git
[submodule "modules/content_access"]
	path = modules/content_access
	url = http://git.drupal.org/project/content_access.git
[submodule "modules/workflow"]
	path = modules/workflow
	url = http://git.drupal.org/project/workflow.git
[submodule "modules/oauth"]
	path = modules/oauth
	url = http://git.drupal.org/project/oauth.git
[submodule "modules/libraries"]
	path = modules/libraries
	url = http://git.drupal.org/project/libraries.git
[submodule "modules/addressfield"]
	path = modules/addressfield
	url = http://git.drupal.org/project/addressfield.git
[submodule "modules/field_collection"]
	path = modules/field_collection
	url = http://git.drupal.org/project/field_collection.git
[submodule "modules/field_group"]
	path = modules/field_group
	url = http://git.drupal.org/project/field_group.git
[submodule "modules/features"]
	path = modules/features
	url = http://git.drupal.org/project/features.git
[submodule "modules/strongarm"]
	path = modules/strongarm
	url = http://git.drupal.org/project/strongarm.git
[submodule "modules/uuid"]
	path = modules/uuid
	url = http://git.drupal.org/project/uuid.git
[submodule "modules/uuid_features"]
	path = modules/uuid_features
	url = http://git.drupal.org/project/uuid_features.git
[submodule "modules/deploy"]
	path = modules/deploy
	url = http://git.drupal.org/project/deploy.git
[submodule "modules/entity_dependency"]
	path = modules/entity_dependency
	url = http://git.drupal.org/project/entity_dependency.git
